## Lists in Python

### What is list?

List is an ordered mutable collection of elements having heterogeneous data types.

### Properties of List:

- List is an ordered collection
- Allow duplicate elements
- It's Mutable collection

### Creating an empty list

In [1]:
## Creating an empty list

lst1=[]

lst1

[]

In [2]:
lst2=list()
lst2

[]

### Concatenating Two Lists

In [3]:
lst1=[1,2,3,4,5,"abc", 10.23, True]
lst1

[1, 2, 3, 4, 5, 'abc', 10.23, True]

In [4]:
lst2=list("Python")
lst2

['P', 'y', 't', 'h', 'o', 'n']

In [5]:
lst1+lst2

[1, 2, 3, 4, 5, 'abc', 10.23, True, 'P', 'y', 't', 'h', 'o', 'n']

### Indexing and Slicing

In [6]:
lst=[1,2,3,4,5,"abc", 10.23, True]

In [7]:
## Get first element
lst[0]

1

In [8]:
# Get last element
lst[-1]

True

In [9]:
# Get all elements starting from 1 index
lst[1:]

[2, 3, 4, 5, 'abc', 10.23, True]

In [10]:
# Get all elements end till 6 index
lst[:6]

[1, 2, 3, 4, 5, 'abc']

In [11]:
# Get all elements from 1 index till 6 index
lst[1:6]

[2, 3, 4, 5, 'abc']

In [12]:
## Reverse the list
lst[::-1]

[True, 10.23, 'abc', 5, 4, 3, 2, 1]

In [13]:
## List with alternate elements
lst[::2]

[1, 3, 5, 10.23]

## Retriving items from List

In [14]:
lst=[1,2,3,4,5]

for x in lst:
    print(x)

1
2
3
4
5

In [17]:
for i in range(len(lst)):
    print(lst[i])

1
2
3
4
5

## Nested Lists

In [18]:
lst1=[1,2,3,4,5]
lst2=['abc','pqr','xyz']
lst3=[True, False]

In [19]:
lst=[lst1, lst2, lst3]

In [20]:
lst

[[1, 2, 3, 4, 5], ['abc', 'pqr', 'xyz'], [True, False]]

In [21]:
## Access particular element
lst[1][2]

'xyz'

## Built-in list methods

In [22]:
lst=[1,2,3,4,5,"abc", 10.23, True]
lst

[1, 2, 3, 4, 5, 'abc', 10.23, True]

In [23]:
len(lst)

8

In [24]:
## Append an element to the end of the list
lst.append('xyz')
lst

[1, 2, 3, 4, 5, 'abc', 10.23, True, 'xyz']

In [25]:
## pop the last element from the list 

lst.pop()

'xyz'

In [26]:
lst

[1, 2, 3, 4, 5, 'abc', 10.23, True]

In [27]:
# Pop the element based on the index
lst.pop(5)

'abc'

In [28]:
lst

[1, 2, 3, 4, 5, 10.23, True]

In [29]:
# Reverse the list
lst.reverse()
lst

[True, 10.23, 5, 4, 3, 2, 1]

In [30]:
# Sort the elements
lst.sort()
lst

[True, 1, 2, 3, 4, 5, 10.23]

In [31]:
# Count the occurance of elements in the list
lst.count(5)

1

In [33]:
# extend the list
lst.extend(['pqr','abc'])
lst

[True, 1, 2, 3, 4, 5, 10.23, ['pqr', 'abc'], 'pqr', 'abc']

In [32]:
lst.append(['pqr','abc'])
lst

[True, 1, 2, 3, 4, 5, 10.23, ['pqr', 'abc']]

In [34]:
lst.index(10.23)

6

In [35]:
lst.insert(5,'test')
lst

[True, 1, 2, 3, 4, 'test', 5, 10.23, ['pqr', 'abc'], 'pqr', 'abc']

In [36]:
## Remove method remove first occurance of element
lst.remove('test')
lst

[True, 1, 2, 3, 4, 5, 10.23, ['pqr', 'abc'], 'pqr', 'abc']

In [37]:
l1=[1,2,3]
l2=l1.copy()
l2

[1, 2, 3]

In [38]:
## Changing orignal list
l1[0]=5
l1

[5, 2, 3]

In [39]:
## l2 does not change with l1
l2

[1, 2, 3]

In [40]:
## Clear all elements
lst.clear()
lst

[]

In [41]:
## Deleting an elements from list
l1=[1,2,3]
l1

[1, 2, 3]

In [42]:
del l1[0]
l1

[2, 3]

In [43]:
## Deleting complete list
del l1

In [44]:
l1

NameError: name 'l1' is not defined

## List Comprehensions

#### Example 1:

In [ ]:
### Get the list of squares of number from 0 to 10.

### Use of for loop

sqr_list=[]

for i in range(0,11): 
    sqr_list.append(i**2)
    
sqr_list

In [ ]:
## List comprehensions implementation for Squares of number from 0 to 10

[i**2 for i in range(0,11)]

#### Example 2:

In [ ]:
## Print list of even numbers

[i for i in range(0,11) if i%2==0 ]