## Sets in Python

### What is Set?

Set is an unordered collection of Unique elements having heterogeneous data types. 

### Properties of Set:

- Set is an unordered collection
- Does not allow duplicate elements
- The element is immutable i.e. unchangeable collection
- No index operation is allowed.

### Creating an empty Set

In [1]:
## Creating an empty list

a=set()

a

set()

In [2]:
type(a)

set

In [3]:
a={1}
a

{1}

In [4]:
type(a)

set

## Defining a set

In [5]:
set_X = {'Mon','Tue','Wed','Thu','Fri','Sat','Sun'}

set_X

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

## Retriving items from Sets

In [6]:
for x in set_X:
    print(x)

Wed
Fri
Thu
Sat
Tue
Sun
Mon

## Properties of Set

In [7]:
## unchangeable Property/No idexing is allowed
set_X[0]

TypeError: 'set' object is not subscriptable

In [8]:
## Elements can be added 

set_X.add('XXX')
set_X

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed', 'XXX'}

In [9]:
set_X.add('Mon')

In [10]:
set_X

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed', 'XXX'}

In [11]:
lst=[1,1,3,2,4,5,6,6,7,2]

set(lst)

list(set(lst))

[1, 2, 3, 4, 5, 6, 7]

### Sets - Join Operation

#### 1. union

In [12]:
s1={'alpha','beta','gamma'}

s2={'pi','theta','sigma'}

In [13]:
## Give new set containing elements from both the sets
s3=s1.union(s2)

In [14]:
s3

{'alpha', 'beta', 'gamma', 'pi', 'sigma', 'theta'}

In [15]:
s1

{'alpha', 'beta', 'gamma'}

In [16]:
s1 | s2

{'alpha', 'beta', 'gamma', 'pi', 'sigma', 'theta'}

In [17]:
s1

{'alpha', 'beta', 'gamma'}

#### 2. update

In [18]:
s1={'alpha','beta','gamma'}

s2={'pi','theta','sigma'}

In [19]:
s1.update(s2)

In [20]:
s1

{'alpha', 'beta', 'gamma', 'pi', 'sigma', 'theta'}

In [21]:
### you can add any other collection like list

s3=[511,521]

In [22]:
s1.update(s3)
s1

{511, 521, 'alpha', 'beta', 'gamma', 'pi', 'sigma', 'theta'}

#### 3. Intersection

In [23]:
s1={1,2,3,4,5,15}

s2={1,11,12,13,15}

In [24]:
s1.intersection(s2)

{1, 15}

In [25]:
s1

{1, 2, 3, 4, 5, 15}

In [26]:
s1 & s2

{1, 15}

In [27]:
s1

{1, 2, 3, 4, 5, 15}

In [28]:
s1.intersection_update(s2)

In [29]:
s1

{1, 15}

#### 4. difference

In [30]:
s1={1,2,3,4,5,15}

s2={1,11,12,13,15}

In [31]:
s1.difference(s2)

{2, 3, 4, 5}

In [32]:
s1

{1, 2, 3, 4, 5, 15}

In [33]:
s1-s2

{2, 3, 4, 5}

In [34]:
s1

{1, 2, 3, 4, 5, 15}

In [35]:
s1.difference_update(s2)

In [36]:
s1

{2, 3, 4, 5}

#### 5. symmetric_difference

In [37]:
s1={1,2,3,4,5,15}

s2={1,11,12,13,15}

In [38]:
s1.symmetric_difference(s2)

{2, 3, 4, 5, 11, 12, 13}

In [39]:
s1

{1, 2, 3, 4, 5, 15}

In [40]:
s1.symmetric_difference_update(s2)

In [41]:
s1

{2, 3, 4, 5, 11, 12, 13}

### Validation methods

In [42]:
s1={1,2,3}
s11={100,200}

s2={1,11,12,13,15,3,2}

In [43]:
s1.issubset(s2)

True

In [44]:
s11.issubset(s2)

False

In [45]:
s2.issuperset(s1)

True

In [46]:
s2.issuperset(s11)

False

### Removing elements from Set

In [47]:
set_X = {'Mon','Tue','Wed','Thu','Fri','Sat','Sun'}

set_X

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [48]:
set_X.remove('Mon')

set_X

{'Fri', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [49]:
set_X.discard('Tue')

set_X

{'Fri', 'Sat', 'Sun', 'Thu', 'Wed'}

In [50]:
set_X.pop()
set_X

{'Fri', 'Sat', 'Sun', 'Thu'}

In [51]:
set_X.clear()

set_X

set()

In [52]:
del set_X

set_X

NameError: name 'set_X' is not defined

#### ----------------------------------------- Happy learning -----------------------------------------