## Tuples in Python

### What is tuple?

Tuple is an ordered unmutable collection of elements having heterogeneous data types. we cann't change the elements inside tuples (immutable collection). 

### Where should we use tuples?
The tuples should be use in a schenario where we want to have constant data in the variables. E.g. suppose you want to store weburl link or username or password information which don't want to be changed by the code.

### Properties of Tuple:

- Tuple is an ordered collection
- Allow duplicate elements
- It's immutable collection

### Creating an empty tuple

In [1]:
## Creating an empty list

tpl1=()

tpl1

()

In [2]:
type(tpl1)

tuple

In [3]:
tpl2=tuple()
tpl2

()

In [4]:
type(tpl2)

tuple

### Concatenating Two tuples

In [5]:
t1=(1,2,3,4,5,"abc", 10.23, True)
t1

(1, 2, 3, 4, 5, 'abc', 10.23, True)

In [6]:
t2=tuple("Python")
t2

('P', 'y', 't', 'h', 'o', 'n')

In [7]:
t1+t2

(1, 2, 3, 4, 5, 'abc', 10.23, True, 'P', 'y', 't', 'h', 'o', 'n')

### Indexing and Slicing

In [9]:
tup=(1,2,3,4,5,"abc", 10.23, True)
tup

(1, 2, 3, 4, 5, 'abc', 10.23, True)

In [10]:
## Get first element
tup[0]

1

In [11]:
# Get last element
tup[-1]

True

In [12]:
# Get all elements starting from 1 index
tup[1:]

(2, 3, 4, 5, 'abc', 10.23, True)

In [13]:
# Get all elements end till 6 index
tup[:6]

(1, 2, 3, 4, 5, 'abc')

In [14]:
# Get all elements from 1 index till 6 index
tup[1:6]

(2, 3, 4, 5, 'abc')

In [15]:
## Reverse the list
tup[::-1]

(True, 10.23, 'abc', 5, 4, 3, 2, 1)

In [16]:
## List with alternate elements
tup[::2]

(1, 3, 5, 10.23)

## Retriving items from Tuples

In [17]:
for x in tup:
    print(x)

1
2
3
4
5
abc
10.23
True

In [18]:
for i in range(len(tup)):
    print(tup[i])

1
2
3
4
5
abc
10.23
True

## Immutability

In [19]:
tup

(1, 2, 3, 4, 5, 'abc', 10.23, True)

In [20]:
tup[0]='X'

TypeError: 'tuple' object does not support item assignment

## Storing tuples elements into primitive variables

In [21]:
tup1=('Pramod', 'Gupta', 33)

firstname, lastname, age = tup1

print("First Name: ", firstname)
print("Last Name: ",lastname)
print("Age: ",age)

First Name:  Pramod
Last Name:  Gupta
Age:  33

In [22]:
tup1=('Pramod', 'Gupta', 33, 178, 80)

firstname, lastname, *other_details = tup1

print("First Name: ", firstname)
print("Last Name: ",lastname)
print("Other Details: ",other_details)

First Name:  Pramod
Last Name:  Gupta
Other Details:  [33, 178, 80]

## Nested tuples

In [23]:
t1=(1,2,3,4,5)
t2=('abc','pqr','xyz')
t3=(True, False)

In [24]:
tup=(t1, t2, t3)

In [25]:
tup

((1, 2, 3, 4, 5), ('abc', 'pqr', 'xyz'), (True, False))

In [26]:
## Access particular element
tup[1][2]

'xyz'

## Built-in tuple methods

In [27]:
tup=(1,2,3,4,5,"abc", 10.23, True)
tup

(1, 2, 3, 4, 5, 'abc', 10.23, True)

In [28]:
# Get the number of elements in tuples
len(tup)

8

In [29]:
# Count the occurance of elements in the tuple
tup.count(5)

1

In [30]:
tup.index(10.23)

6

In [36]:
### Deleting tuples
t1=(1,2,3)
t1

(1, 2, 3)

In [37]:
del t1

In [38]:
t1

NameError: name 't1' is not defined